# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vs/
/rpapi/src/rpapi.Core/bin
/rpapi/src/rpapi.Core/obj
/rpapi/src/rpapi.Infrastructure/bin
/rpapi/src/rpapi.Infrastructure/obj
/rpapi/src/rpapi.UseCases/bin
/rpapi/src/rpapi.UseCases/obj
/rpapi/src/rpapi.Web/bin
/rpapi/src/rpapi.Web/obj
/rpapi/tests/rpapi.FunctionalTests/bin
/rpapi/tests/rpapi.FunctionalTests/obj
/rpapi/tests/rpapi.IntegrationTests/bin
/rpapi/tests/rpapi.IntegrationTests/obj
/rpapi/tests/rpapi.UnitTests/bin
/rpapi/tests/rpapi.UnitTests/obj
